@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    transform: 0.2s;
}

.boxie{
    background: red;
}

.button-nav{
    color: #fff;
    display: flex;
    justify-content: end;
    padding: 0 20px 0 0;

    &:hover{
        
    }
}