.sidebar {
  padding: 24px;
  border-right: solid 1px;

  &__title {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 16px;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__link {
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none;
    padding: 10px 12px;
    border-radius: 10px;
    transition: 0.2s;

    &:hover {
      color: #fff;
      background: rgba(32, 199, 168, 0.12);
    }
  }
}
